@import "../../styles/global.scss";

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.componentsWrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  .componentsWrapper {
    padding-top: 30px;
    flex-direction: column;
  }
}
