@import "../../styles/global.scss";

.contact {
  display: flex;

  &__left,
  &__right {
    width: 50%;
    padding: 10px;
  }
  &__right {
    iframe {
      border: 2px solid $color-blue;
    }
  }
  &__name {
    margin-bottom: 20px;
  }
  &__subtitle {
    margin: 20px 0;
  }
  &__item {
    font-size: 18px;
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .contact {
    display: flex;
    flex-direction: column;

    &__left,
    &__right {
      width: 100%;
      padding: 10px;
    }

    &__name {
      margin-bottom: 20px;
    }
    &__subtitle {
      margin: 20px 0;
    }
    &__item {
      font-size: 18px;
      margin: 10px 0;
    }
  }
}
