@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background-white;
  color: $color-black-dark;
  font-family: $main-font;
  line-height: 1.5;
  letter-spacing: 1px;
  overflow-y: scroll;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  transition: ease 0.5s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
