/* colors */

$color-black-dark: #131200ff;
$color-background-white: #f1faee;
$color-blue: #1d3557;
$color-blue-lighter: #457b9d;
$color-lighter: #a8dadc;
$color-warn: #e63946;
/* fonts */
$main-font: "Roboto", sans-serif;
